<div class="landing-container">
  <div class="bg"></div>
  <mat-toolbar class="topbar" color="transparent">
    <div class="logo">
      <mat-icon class="logo-icon">movie</mat-icon>
      <span class="logo-text">Filmore</span>
    </div>

    <span class="spacer"></span>
    <button mat-flat-button class="signin-btn" (click)="login()">Sign In</button>
  </mat-toolbar>

  <section class="hero">
    <h1 class="hero-title">
      Unlimited movies, TV <br class="br-md" />
      shows and more
    </h1>
    <p class="hero-caption">Ready to watch? Enter your email to get started!</p>
    <form [formGroup]="landingForm" class="cta" (ngSubmit)="getStarted()" novalidate>
      <mat-form-field appearance="outline" class="email-field">
        <mat-label>Email address</mat-label>
        <input matInput formControlName="email" />
        <mat-icon matPrefix>email</mat-icon>
        <mat-error *ngIf="landingForm.get('email')?.hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="landingForm.get('email')?.hasError('email')">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>

      <button mat-flat-button class="cta-btn" type="submit" [disabled]="!landingForm.valid">
        Get Started
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </form>
  </section>
</div>

<section class="reasons-wrap">
  <h2 class="row-title">More reasons to join!</h2>
  <br />
  <div class="reason-grid">
    <mat-card class="reason-card" *ngFor="let r of reasons">
      <h3>{{ r.title }}</h3>
      <p>{{ r.text }}</p>

      <div class="badge">
        <mat-icon>{{ r.icon }}</mat-icon>
      </div>
    </mat-card>
  </div>
</section>
<br />
<section class="faq">
  <h2 class="row-title">Frequently Asked Questions</h2>
  <br />
  <mat-accordion class="faq-accordion">
    <mat-expansion-panel
      *ngFor="let faq of faqs"
      class="faq-item"
      [hideToggle]="true"
      #panel="matExpansionPanel"
    >
      <mat-expansion-panel-header>
        <span class="question">{{ faq.question }}</span>
        <span class="spacer"></span>
        <mat-icon class="toggle-icon" *ngIf="!panel.expanded">expand</mat-icon>
        <mat-icon class="toggle-icon" *ngIf="panel.expanded">close</mat-icon>
      </mat-expansion-panel-header>
      <div class="answer">{{ faq.answer }}</div>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<footer class="site-footer">
  <div class="footer-inner">
    <span>© {{ year }} Filmore, All rights reserved</span>
    <nav class="footer-links">
      <a href="#">Privacy Policy</a>
      <a href="#">Terms of Service</a>
      <a href="mailto:eng3zim@gmail.com">Contact Us</a>
    </nav>
  </div>
</footer>
